body{
    background-image:url("https://c4.wallpaperflare.com/wallpaper/636/821/156/concert-crowd-wallpaper-preview.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.keys{
    width: 150vh;
    min-height: 95vh;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
   
}
.key{
    border:4px solid black;
    border-radius:5px ;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s;
    width:100px;
    height:4rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0 , 0.4);
    text-shadow: 0 0 5px black;
}
kbd{
    margin: 0.7em;
    font-size: 40px;
    font-weight: 700;
    color: white;
    opacity: 1;
}
.sound{
    display: block;
    margin: 0.5rem auto 0.6rem 0.6rem;
    color: gold;
    font-weight: 500;
    opacity: 1;

}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}